!mouse selection to copy, Ctrl-V, also Shift+Insert
xterm*VT100.Translations: #override \
	<Btn1Up>: select-end(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
        Ctrl <KeyPress> V: insert-selection(CLIPBOARD,PRIMARY,CUT_BUFFER0)

! Make communicating with other applications via the clipboard easy
! xterm*selectToClipboard: true

xterm*renderFont: true
xterm*faceName: JetBrainsMono Nerd Font Mono
xterm*faceSize: 15

! Some sample configuration settings, to test whether xterm was
! responding to the 'xrdb' command.
xterm*foreground: rgb:ff/ff/ff
xterm*background: rgb:00/00/00
