# Where should I put you?
bindkey -s ^f "tmux-sessionizer\n"
bindkey -s ^w "wallpaper\n"

weather () {
    curl "https://wttr.in/${1}"
}

if command -v brew > /dev/null 2>&1; then
    alias ls="ls -G"
    alias grep="grep -G"
    alias fgrep="fgrep -G"
    alias egrep="egrep -G"
else
    alias ls="ls --color=auto"
    alias grep="grep --color=auto"
    alias fgrep="fgrep --color=auto"
    alias egrep="egrep --color=auto"
fi

alias vim="nvim"

alias sz="source ~/.config/zsh/.zshrc"

alias ll="ls -alF --color"
alias la="ls -A --color"
alias l="ls -CF --color"

alias sz="source ${XDG_CONFIG_HOME}/zsh/.zshrc"
alias alacritty.yml="vim ~/.dotfiles/alacritty/alacritty.yml"

# This is specific to WSL 2. If the WSL 2 VM goes rogue and decides not to free
# up memory, this command will free your memory after about 20-30 seconds.
#   Details: https://github.com/microsoft/WSL/issues/4166#issuecomment-628493643
alias drop_cache="sudo sh -c \"echo 3 >'/proc/sys/vm/drop_caches' && swapoff -a && swapon -a && printf '\n%s\n' 'Ram-cache and Swap Cleared'\""
